
header{
    padding: 24px 0;
    background-color: #181818;
}
header .container{
    max-width: 1200px;
    margin: auto;
    padding-left: 34px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 12px;
}
header nav ul li:last-of-type a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    padding: 11px 20px;
}
.main_banner{
    height: calc(100vh - 82px);
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
}
.main_banner h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    /* identical to box height, or 110% */
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #C0C0C0;
}
.help_with{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.help_with .container{
    max-width: 571px;
    margin: auto;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 217px;
}
.help_with h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    /* or 105% */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.help_with h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 31px;
}
.get_in_touch{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center;
}
.get_in_touch:before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 5px;
}
.portfolio_block{
    background-image: url("../images/Frame.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.portfolio_block article{
    max-width: 298px;
    margin-right: 62px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}
.portfolio_block2{
    background-image: url("../images/IMAGE 2.jpeg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.portfolio_block2 article{
    max-width: 298px;
    margin-right: 62px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}
.portfolio_block3{
    background-image: url("../images/IMAGE 3.jpeg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.portfolio_block3 article{
    max-width: 298px;
    margin-right: 62px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    Line-height: 20px;
}
